body {
    margin: 0;
    padding: 0;
}
.bg-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
.bg-gif{
    position: initial;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh ;
    z-index: 1;
}
section{
    position: absolute;
    top: 10vh;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2vh;
    box-shadow: 1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
    width: 40vw;
    height: 40vh;
    padding: 2vh;
    color: white;
}