body {
    margin: 0;
    padding: 0;
}
.bg-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}
.bg-gif{
    position: initial;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh ;
    z-index: 0;
}